spring:
  application:
    name: api-gateway
  
  profiles:
    active: dev
  
  cloud:
    compatibility-verifier:
      enabled: false
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            maxAge: 3600

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    com.baganov.klassifikator.gateway: DEBUG

