apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: klassifikator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi  # Для медиафайлов
  storageClassName: csi-ceph-hdd-ms1  # Timeweb Cloud storage class

