apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: klassifikator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi  # Минимум для production
  storageClassName: csi-ceph-hdd-ms1  # Timeweb Cloud storage class

